<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="styles.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	
</head>
<body>
	<div id="app">
		<header class="navbar"  v-bind:style="navbarClass">
			<a class="nav-logo" href="/">Gluer</a>
			<a v-for="link in links" class="nav-item" v-bind:href="link.href">{{ link.text }}</a>
		</header>
		<section id="tool-panel">
			<div class="tool-choice">
				<button-tool 
				v-for="tool in tool_images"
				:key="tool.key"
				:source="tool.path"
				></button-tool>
			</div>
			<div class="hr"></div>
			<div class="slider">
				<vue-slider ref="slider" v-model="value"></vue-slider>
			</div>
		</section>
	</div>
	<script src="dist/bundle.js"></script>
	

</body>
</html>
