html, body {
	padding: 0;
	margin: 0;
}
#app {
	min-height: 100vh;
	height: 1px;	
	width: 1px;
	min-width: 100vw;
}
.navbar {
	position: absolute;
	padding: 10px;
	align-items: center;
	flex-direction: row;
	max-height: 40px;
	min-width: calc(100% - 20px);
	border-bottom: 1px solid grey;
	box-shadow: 0 0 14px rgba(0,0,0,0.5);
	z-index: 1200;
}
.nav-item {
	text-decoration: none;
	color: royalblue;
	font-family: Arial, sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin: 0px 20px 0px 20px;
}
.nav-logo {
	text-decoration: none;
	color: royalblue;
	font-family: Luminari, fantasy;
	font-weight: 400;
	font-size: 30px;	
}
#tool-panel{
	position: absolute;
	align-items: center;
	justify-content: flex-start;
	top: 60px;
	left: 0;
	display: flex;
	width: 220px;
	/*height:auto !important;  /*real browsers*/ 
	height:calc(100% - 60px); /* IE6: treaded as min-height */  /*real browsers */
	background-color: rgb(235, 237, 239);
	/*box-shadow: 0 0 3px rgba(0,0,0,0.3);*/
	margin: 0;
	z-index: 3;
	flex-direction: column;
}
.tool-choice{
	display: flex;
	flex-direction: row;
	padding-top: 10px;
}
.square {
	display: block;
	width: 40px;
	height: 40px;
	margin: 1px;
	padding: 5px;
}
.square img{
	width: 100%;
}
div.hr {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 1px;
	background-color: black;
}
.slider{
	width: 100%;
}


